/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/


/*******************
Main sidebar
******************/

.left-sidebar {
    position: absolute;
    width: 240px;
    height: 100vh;
    top: 0px;
    z-index: 20;
    padding-top: 70px;
    background: $sidebar;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.fix-sidebar .left-sidebar {
    position: fixed;
}


/*******************
user profile section
******************/

.sidebar-nav .user-profile {
    > a {
        img {
            width: 30px;
            border-radius: 100%;
            margin-right: 10px;
        }
    }
    >ul {
        padding-left: 40px;
    }
}


/*******************
sidebar navigation
******************/

.scroll-sidebar {
    // height: calc(100vh - 70px);
    // position: relative;
    &.ps .ps__rail-y {
        left: 2px;
        right: auto;
        background: none;
        width: 6px;
        /* If using `left`, there shouldn't be a `right`. */
    }
}

.collapse.in {
    display: block;
}
.nav-small-cap {
        font-size: 12px;
        margin-bottom: 0px;
        padding: 14px 14px 14px 20px;
        font-weight: 500;
    }
.sidebar-nav {

    padding: 15px 0 0 0px;
    ul {
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
            a {
                color: $sidebar-text;
                padding: 8px 35px 8px 15px;
                display: block;
                font-size: 14px;
                font-weight: 400;
                &.active,
                &:hover {
                    color: $themecolor;
                    i {
                        color: $themecolor;
                    }
                }
                &.active {
                    font-weight: 500;
                    color: $dark;
                }
            }
            ul {
                padding-left: 36px;

                ul {
                    padding-left: 15px;
                }
            }
            &.nav-devider {
                height: 1px;
                background: $border;
                display: block;
                margin: 15px 0;
            }
        }
    }
    > ul > li > a {
        i {
            width: 31px;
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            color: $sidebar-icons;
        }
        .label {
            float: right;
            margin-top: 6px;
        }
        &.active {
            font-weight: 400;
            background: #242933;
            color: $themecolor-alt;
        }
    }
    > ul > li {
        margin-bottom: 5px;
        &.active > a {
            color: $themecolor;
            font-weight: 500;
            i {
                color: $themecolor;
            }
        }
    }
    .waves-effect {
        transition: none;
        -webkit-transition: none;
        -o-transition: none;
    }
}

.sidebar-nav .has-arrow {
    position: relative;
    // &::after {
    //     position: absolute;
    //     content: '';
    //     width: 7px;
    //     height: 7px;
    //     border-width: 1px 0 0 1px;
    //     border-style: solid;
    //     border-color: $sidebar-text;
    //     right: 1em;
    //     -webkit-transform: rotate(135deg) translate(0, -50%);
    //     -ms-transform: rotate(135deg) translate(0, -50%);
    //     -o-transform: rotate(135deg) translate(0, -50%);
    //     transform: rotate(135deg) translate(0, -50%);
    //     -webkit-transform-origin: top;
    //     -ms-transform-origin: top;
    //     -o-transform-origin: top;
    //     transform-origin: top;
    //     top: 23px;
    //     -webkit-transition: all .3s ease-out;
    //     -o-transition: all .3s ease-out;
    //     transition: all .3s ease-out;
    // }
}

.sidebar-nav .active > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    top: 45%;
    width: 7px;
    transform: rotate(-135deg) translate(0, -50%);
}

.sidebar-nav ul li a{
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sidebar-nav ul li ul li a.top-sub-menu {
  display: flex;
  align-items: center;
  flex-direction: unset;
  justify-content: unset;
  padding: 8px 10px;
}

.sidebar-nav ul li ul li a i {
  margin-right: 8px;
}
.horizontal-nav .sidebar-nav #sidebarnav>li>ul.sidebar-dropdown-right-box{
  right: 0;
  left: unset
}



/* Notification Block */

.notification-table .table-header {
  margin-bottom: 1.9rem;
}

.notification-table .media {
  max-width: 70%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.notification-table .media-icon {
  color: #ffffff;
  font-size: 1rem;
}

.notification-table .media-icon.cat-1 {
  background-color: #4c84ff;
}

.notification-table .media-icon.cat-2 {
  background-color: #29cc97;
}

.notification-table .media-icon.cat-3 {
  background-color: #fec400;
}

.notification-table .media-icon.cat-4 {
  background-color: #13cae1;
}

.notification-table .media-body a {
  font-size: 0.98rem;
  color: #1b223c;
  display: inline-block;
}

.notification-table .media-body a:hover {
  color: #4c84ff;
}

.notification-table .media-body p {
  font-size: .81rem;
}
.notifications-menu .dropdown-menu>li a {
  padding: 10px 10px;
  border-bottom: 1px solid #f5f6fa;
  display: flex;
  flex-direction: column;
}
.notifications-menu .dropdown-menu{
  max-height: 300px;
  overflow-x: auto;

}
.notifications-menu .date-clock {
  font-size: 20px;
}
.notifications-unread{
  background: #ececec;
}
