<div class="card">
  <div class="card-body" *ngIf="catimage">
    <form (submit)="submit(frm)" #frm>
      <div class="row">
        <div class="col col-md-6">
          <div class="form-group">
            <label>Title (*)</label>
            <input type="text" name="catimageName" class="form-control" placeholder="Enter title" [(ngModel)]="catimage.title" required />
          </div>
        </div>
        <div class="col col-md-6">
          <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" name="catimagedesc" placeholder="Enter some text" [(ngModel)]="catimage.content"></textarea>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="form-group">
            <label>Image (*)
              <media-select (onSelect)="selectMedia($event)"></media-select>
            </label>
            <div *ngIf="media">
              <img [src]="media.thumbUrl" class="img-thumbnail" />
            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="form-group">
            <label>Link</label>
            <input type="text" name="link" class="form-control" placeholder="Enter url of the catimage" [(ngModel)]="catimage.link" required />
          </div>
        </div>
        <div class="col col-md-6">
          <div class="form-group">
            <label>Position</label>
            <select name="Position" [(ngModel)]="catimage.position" class="form-control">
              <option value="default">Default</option>
            </select>
          </div>
        </div>
        <div class="col col-md-12">
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>