<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ ticket.user ? ticket.user.name : '' }}</h4>
        {{ ticket.description }} <br>
        ----------------------------<br>
        <!-- IP Address: 103.89.244.142 -->
      </div>
    </div>
    <div class="card ticket_reply_section">
      <div class="card-body">
        <h4 class="card-title">Ticket Replies</h4>
        <ul class="list-unstyled m-t-20">
          <li *ngFor="let comment of comments"
            class="media {{ comment.user.role == 'user' ? 'client_reply' : 'staff_reply' }}">
            <div class="media-body">
              <h5 class="mt-0 mb-1">
                <b> {{ comment.user ? comment.user.name : '' }}</b>
                ({{ comment.user.role == 'user' ? 'Client' : 'Staff' }})
              </h5>
              {{ comment.description }}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card" id="newReply">
      <div class="card-body">
        <h4 class="m-b-20">Write a reply</h4>
        <form (submit)="submit(frm)" #frm="ngForm" *ngIf="reply">
          <textarea class="form-control" rows="8" name="description" [required]="true" [(ngModel)]="reply.description"
            #description="ngModel"></textarea>
          <div *ngIf="isSubmitted && description.errors">
            <p class="required-text">
              description is required
            </p>
          </div>
          <br>
          <!-- <div class="row">
                 <div class="col-md-6">
                    <div class="input-group mb-3">
                       <div class="input-group-prepend">
                          <button id="addAttachment" type="button" class="btn btn-dark"><i class="fa fa-plus"></i> Attachments</button>
                       </div>
                    </div>
                    <span class="help-block" style="display: inline-block;margin-bottom: 0;margin-top: 0">
                    <em>Valid file type: jpg, jpeg, gif, png and File size max: 2 MB.</em>
                    </span>
                 </div>
              </div>
              <div class="row m-t-10">
                 <div class="col-md-6">
                    <div id="attachmentWrap" class="coattachmentl-md-8">
                       <p id="maximumMsg" class="text-danger mt-2 hidden">
                          You can add maximum 5 attachments.
                       </p>
                    </div>
                 </div>
              </div> -->
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ticket Info</h4>
        <h5 class="m-t-30">Subject</h5>
        <span>{{ ticket.subject }} </span>
        <br>
        <h5 class="m-t-30">Category</h5>
        <span>{{ ticket.category }}</span>
        <br>
        <h5 class="m-t-30">Priority</h5>
        <span>{{ ticket.priority }}</span>
        <br>
      </div>
      <div class="card-body bg-light">
        <div class="row">
          <div class="col-6 m-t-10 m-b-10">
            Status : <span
              class="label label-{{ ticket.status == 'open' ? 'success' : 'secondary' }}"><strong>{{ ticket.status }}</strong></span>
          </div>
        </div>
      </div>
      <div class="card-body">
        Opened : {{ticket.createdAt | date:'medium'}}
        <hr>
        Last Response : {{ticket.updatedAt | date:'medium'}}

      </div>
    </div>
  </div>
</div>