<form (submit)="submit(frm)" #frm>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Name (*)</label>
        <input type="text" name="productName" class="form-control" placeholder="Enter name" [(ngModel)]="product.name"
          required />
      </div>
    </div>
    <div class="col col-md-6">
      <div class="form-group">
        <label>Image (*)
          <media-select (onSelect)="selectMedia($event)"></media-select>
        </label>
        <div *ngIf="media">
          <img [src]="media.thumbUrl" class="img-thumbnail" />
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label>Description</label>
        <div [froalaEditor] [(froalaModel)]="product.description"></div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label>Short description</label>
        <textarea class="form-control" name="productsdesc" placeholder="Enter some text"
          [(ngModel)]="product.shortDescription"></textarea>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label>Category</label>
        <select class="form-control" [(ngModel)]="product.categoryId" name="categoryId">
          <option value="">-- No category --</option>
          <option *ngFor="let item of tree" [ngValue]="item._id">{{item.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <hr />
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>