<nav class="sidebar-nav">
  <button class="btn btn-warning menu-drop-bars" (click)="showDropdown()">
    <i class="fa fa-bars" *ngIf="!isShowMenu"></i>
    <i class="fa fa-close" *ngIf="isShowMenu"></i>
  </button>
  <ul id="sidebarnav" class="scroll-top-bar" [ngClass]="{'show': isShowMenu}">
    <li [class.active]="showMenu === sidebarnavItem.title" *ngFor="let sidebarnavItem of sidebarnavItems"
      [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
      <!-- <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title}}</div> -->
      <a class="top-sub-menu" [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null" [ngClass]="[sidebarnavItem.class]"
        *ngIf="!sidebarnavItem.extralink;" (click)="addExpandClass(sidebarnavItem.title)">
        <i [ngClass]="[sidebarnavItem.icon]"></i>
        <span class="hide-menu">{{sidebarnavItem.title}}
          <span *ngIf="sidebarnavItem.label != '' " [ngClass]="[sidebarnavItem.labelClass]">{{sidebarnavItem.label}}</span>
        </span>
      </a>
      <!-- Second level menu -->
      <ul class="collapse" *ngIf="sidebarnavItem.submenu.length > 0" [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
        <li *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu" [class.active]="showSubMenu === sidebarnavSubItem.title"
          [routerLinkActive]="sidebarnavSubItem.submenu.length > 0 ? '' : 'active'">
          <a class="top-sub-menu" [routerLink]="sidebarnavSubItem.submenu.length > 0 ? null : [sidebarnavSubItem.path]" [routerLinkActive]="sidebarnavSubItem.submenu.length > 0 ? '' : 'router-link-active'"
            [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;" (click)="addActiveClass(sidebarnavSubItem.title)">
            <i [ngClass]="[sidebarnavSubItem.icon]"></i>
            {{sidebarnavSubItem.title}}
          </a>
          <!-- Third level menu -->
          <ul class="collapse" *ngIf="sidebarnavSubItem.submenu.length > 0" [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
            <li *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu" routerLinkActive="active" [ngClass]="[sidebarnavSubsubItem.class]">
              <a [routerLink]="[sidebarnavSubsubItem.path]" *ngIf="!sidebarnavSubsubItem.extralink;" [routerLinkActive]="sidebarnavSubsubItem.submenu.length > 0 ? '' : 'router-link-active'">
                <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                {{sidebarnavSubsubItem.title}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
<!--    <li class="nav-devider"></li>-->
    <li>
      <a href="javascript:void(0)" class="top-sub-menu" (click)="addExpandClass('notification')" aria-expanded="false">
        <i class="fa fa-info"></i>
        <span class="hide-menu">
          <span>Notification</span>
        </span>
      </a>
      <ul class="collapse sidebar-dropdown-right-box" aria-expanded="false" [class.in]="showMenu === 'notification'">
        <li class="dropdown-header"><span>You have {{ notifications.total }} notifications</span></li>
        <li *ngFor="let notification of notifications.data" [ngClass]="{'notifications-unread':notification.seenAt === null}">
          <a href="{{ notification.href }}?notification_id={{notification._id}}">
            <div>
              <i class="mdi" [ngClass]="[notification.icon]"></i>
              <span [innerHTML]="notification.title"></span>
            </div>
            <div>
              <span class=" font-size-12 d-inline-block float-right">
                <i class="mdi mdi-clock-outline"></i>
                {{ notification.createdAt | timelineDate }}
              </span>
            </div>
          </a>
        </li>
        <li class="dropdown-footer" *ngIf="notifications.notificationHas">
          <a class="text-center" (click)="seeMore($event)" *ngIf="notifications.loading===false"> See More </a>
          <a class="text-center" *ngIf="notifications.loading"> Loading.... </a>
        </li>
      </ul>
    </li>
    <!-- First level menu -->
    <li class="user-profile" [class.active]="showMenu === 'user'">
      <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" (click)="addExpandClass('user')"
        aria-expanded="false">
        <i class="fa fa-user"></i><span class="hide-menu">My profile </span>
      </a>
      <ul aria-expanded="false" class="collapse sidebar-dropdown-right-box" [class.in]="showMenu === 'user'">
        <li><a href="/users/profile/update">My Profile </a></li>
        <li><a href="javascript::void()" (click)="logout()">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>
