<div class="card">
  <div class="card-block table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>
            <a (click)="sortBy('name', 'desc')">Product Name</a>
            <span *ngIf="sortOption.sortBy=='name'">
              <a (click)="sortBy('name', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('name', 'desc')" *ngIf="sortOption.sortType=='asc'"><i class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('shopInfo.name', 'desc')">Shop Name</a>
            <span *ngIf="sortOption.sortBy=='shopInfo.name'">
              <a (click)="sortBy('shopInfo.name', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('shopInfo.name', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            Description
          </th>
          <th>
            <a (click)="sortBy('createdAt', 'desc')">Created at</a>
            <span *ngIf="sortOption.sortBy=='createdAt'">
              <a (click)="sortBy('createdAt', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('createdAt', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            Status
          </th>
          <th>
            Actions
          </th>
        </tr>
        <tr>
          <th>
            <input class="form-control" [(ngModel)]="searchText" placeholder="search ..."
              (keypress)="keyPress($event)" />
          </th>
          <th><a class="btn btn-success" (click)="query()">Search</a></th>
        </tr>
      </thead>
      <tbody *ngIf="items.length">
        <tr *ngFor="let item of items, let i = index">
          <td>
            <!-- <a [routerLink]="['/product-boilerplates/update', item._id ]" *ngIf="item._id"> -->
            {{item?.name}}
            <!-- </a> -->
          </td>
          <td>
            <!-- <a [routerLink]="['/product-boilerplates/update', item._id ]" *ngIf="item._id"> -->
            {{item?.shopInfo.name}}
            <!-- </a> -->
          </td>
          <td>
            {{item?.description}}
          </td>
          <td>
            <span>{{item?.createdAt | date}}</span>
          </td>
          <!-- <td>
            <span>{{item?.status}}</span>
          </td> -->
          <td>
            <span class="label label-warning" *ngIf="item.status === 'pending'">Pending</span>
            <span class="label label-success" *ngIf="item.status === 'approved'">Approved</span>
          </td>
          <td>
            <a (click)="approve(item?._id, i)" *ngIf="item.status === 'pending'" title="Approved">
              <i class="fa fa-check-circle"></i>
            </a> &nbsp;
            <a (click)="remove(item?._id, i)" title="Delete">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8" *ngIf="total > 10">
            <ngb-pagination [collectionSize]="total" [maxSize]="5" [(page)]="page" (pageChange)="query()">
            </ngb-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
