<!-- <div class="card">
  <div class="card-body">
    <form #frm="ngForm" (submit)="submit(frm)" ngNativeValidate>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Content</label>
            <textarea [(ngModel)]="item.content" name="content" class="form-control" rows="3" readonly></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Note</label>
            <input type="text" name="note" class="form-control" placeholder="Enter note" [(ngModel)]="item.note" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Status</label>
            <select name="status" class="form-control" [(ngModel)]="item.status">
              <option value="pending">Pending</option>
              <option value="resolved">Resolved</option>
              <option value="rejected">Rejected</option>
            </select>
          </div>
        </div>
        <div class="col col-md-12">
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
            <button class="btn btn-warning" [routerLink]="['/complaints']">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div> -->
<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ complain.user ? complain.user.name : '' }}</h4>
        {{ complain.content }} <br>
        ----------------------------<br>
        <!-- IP Address: 103.89.244.142 -->
      </div>
    </div>
    <div *ngIf="comments.length > 0" class="card ticket_reply_section">
      <div class="card-body">
        <h4 class="card-title">Complain Replies</h4>
        <ul class="list-unstyled m-t-20">
          <li *ngFor="let comment of comments"
            class="media {{ comment.user.role == 'user' ? 'client_reply' : 'staff_reply' }}">
            <div class="media-body">
              <h5 class="mt-0 mb-1">
                <b> {{ comment.user ? comment.user.name : '' }}</b>
                ({{ comment.user.role == 'user' ? 'User' : 'Staff' }})
              </h5>
              {{ comment.content }}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card" id="newReply">
      <div class="card-body">
        <h4 class="m-b-20">Write a reply</h4>
        <form (submit)="submit(frm)" #frm="ngForm" *ngIf="reply">
          <textarea class="form-control" rows="8" name="content" [required]="true" [(ngModel)]="reply.content"
            #content="ngModel"></textarea>
          <div *ngIf="isSubmitted && content.errors">
            <p class="required-text" style="color: red">
              description is required
            </p>
          </div>
          <br>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Complain Info</h4>
        <h5 class="m-t-30">Product</h5>
        <!-- <a appLocationHref [url]="/orders/view/{{ complain.orderDetails?.orderId }}"> -->
        <!-- <a appLocationHref [url]="'/orders/view/'+ complain.orderDetails?.orderId"> -->
        <span>{{ complain.orderDetails?.productDetails?.name }}</span>
        <!-- </a> -->
        <br>
        <h5 class="m-t-30">Tracking</h5>
        <!-- <a appLocationHref [url]="'/orders/view/'+ complain.order?._id"> -->
        <span>{{ complain.orderDetails?.trackingCode }}</span>
        <!-- </a> -->
        <br>
      </div>
      <div class="card-body bg-light">
        <div class="row">
          <div class="col-6 m-t-10 m-b-10">
            Status : <span
              class="label label-{{ complain.status == 'open' ? 'success' : 'secondary' }}"><strong>{{ complain.status }}</strong></span>
          </div>
        </div>
      </div>
      <div class="card-body">
        Opened : {{complain.createdAt | date:'medium'}}
        <hr>
        Last Response : {{complain.updatedAt | date:'medium'}}

      </div>
    </div>
  </div>
</div>