<div class="card">
  <div class="card-block table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>
            <a>User</a>
          </th>
          <th>
            <a>User Type</a>
          </th>
          <th>
            <a>Content</a>
          </th>
          <!-- <th>
            <a>Status</a>
          </th> -->
          <th>
            <a>Created at</a>
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items, let i = index">
          <td><img [src]="item?.user?.avatarUrl" width="40px"> {{item?.user?.name}}</td>
          <td>
            <span class="badge badge-warning" *ngIf="item.user && item.user.isShop">Seller</span>
            <span class="badge badge-primary" *ngIf="item.user && !item.user.isShop">User</span>
          </td>
          <td>
            <div>Click edit to view content.</div>
          </td>

          <td>
            <span>{{item.createdAt | date}}</span>
          </td>
          <td>
            <a [routerLink]="['/complaints/update', item._id ]">
              <i class="fa fa-eye"></i>
            </a>&nbsp;
            <!-- <a (click)="remove(item, i)">
              <i class="fa fa-trash"></i>
            </a> -->
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="5" (pageChange)="query()">
            </ngb-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>