<div class="card">
  <div class="card-body table-responsive">
    <table class="table border-1">
      <thead>
        <tr>
          <th>
            <a (click)="sortBy('trackingCode', 'desc')" translate>Order</a>
            <span *ngIf="sortOption.sortBy == 'trackingCode'">
              <a (click)="sortBy('trackingCode', 'asc')" *ngIf="sortOption.sortType=='desc'">
                <i class="fa fa-caret-down"></i>
              </a>
              <a (click)="sortBy('trackingCode', 'desc')" *ngIf="sortOption.sortType=='asc'">
                <i class="fa fa-caret-up"></i>
              </a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('totalProducts', 'desc')" translate>Total Products</a>
            <span *ngIf="sortOption.sortBy=='totalProducts'">
              <a (click)="sortBy('totalProducts', 'asc')" *ngIf="sortOption.sortType=='desc'">
                <i class="fa fa-caret-down"></i>
              </a>
              <a (click)="sortBy('totalProducts', 'desc')" *ngIf="sortOption.sortType=='asc'">
                <i class="fa fa-caret-up"></i>
              </a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('totalPrice', 'desc')" translate>Total price</a>
            <span *ngIf="sortOption.sortBy=='totalPrice'">
              <a (click)="sortBy('totalPrice', 'asc')" *ngIf="sortOption.sortType=='desc'">
                <i class="fa fa-caret-down"></i>
              </a>
              <a (click)="sortBy('totalPrice', 'desc')" *ngIf="sortOption.sortType=='asc'">
                <i class="fa fa-caret-up"></i>
              </a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('paymentMethod', 'desc')" translate>Payment method</a>
            <span *ngIf="sortOption.sortBy=='paymentMethod'">
              <a (click)="sortBy('paymentMethod', 'asc')" *ngIf="sortOption.sortType=='desc'">
                <i class="fa fa-caret-down"></i>
              </a>
              <a (click)="sortBy('paymentMethod', 'desc')" *ngIf="sortOption.sortType=='asc'">
                <i class="fa fa-caret-up"></i>
              </a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('userIP', 'desc')" translate>User IP </a>
            <span *ngIf="sortOption.sortBy=='userIP'">
              <a (click)="sortBy('userIP', 'asc')" *ngIf="sortOption.sortType=='desc'">
                <i class="fa fa-caret-down"></i>
              </a>
              <a (click)="sortBy('userIP', 'desc')" *ngIf="sortOption.sortType=='asc'">
                <i class="fa fa-caret-up"></i>
              </a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('createdAt', 'desc')" translate>Created At </a>
            <span *ngIf="sortOption.sortBy=='createdAt'">
              <a (click)="sortBy('createdAt', 'asc')" *ngIf="sortOption.sortType=='desc'">
                <i class="fa fa-caret-down"></i>
              </a>
              <a (click)="sortBy('createdAt', 'desc')" *ngIf="sortOption.sortType=='asc'">
                <i class="fa fa-caret-up"></i>
              </a>
            </span>
          </th>
        </tr>
        <tr>
          <th>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="trackingCode" placeholder="search..."
                (keypress)="keyPress($event)" />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary fa fa-search" (click)="query()" type="button"></button>
              </div>
            </div>
          </th>
          <th colspan="5"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orders, let i = index">
          <td>#
            <a [routerLink]="['/orders/view/', item._id ]">
              {{item?.trackingCode}}
            </a>
          </td>
          <td>{{item?.totalProducts}}</td>
          <td>{{item?.totalPrice | currency}}</td>
          <td>
            <span class="label label-success" *ngIf="item.paymentMethod === 'cod'">Cod</span>
            <span class="label label-warning" *ngIf="item.paymentMethod === 'stripe'">Stripe</span>
            <span class="label label-primary" *ngIf="item.paymentMethod === 'paypal'">Paypal</span>
            <span class="label label-primary" style="background-color: #295cab;"
              *ngIf="item.paymentMethod === 'sslcommerz'">SSLCOMMERZ</span>
          </td>
          <td>
            <span>{{item?.userIP}}</span>
          </td>
          <td>
            <span>{{item?.createdAt | date:'short'}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="display-inline" [hidden]="total < take">
      <div class="pull-right">
        <ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="5" [pageSize]="take" (pageChange)="query()">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>