<div class="card">
  <div class="card-block table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>
            Last Updated
          </th>
          <!-- <th>
            <a (click)="sortBy('name', 'desc')">Name</a>
            <span *ngIf="sortOption.sortBy=='name'">
              <a (click)="sortBy('name', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('name', 'desc')" *ngIf="sortOption.sortType=='asc'"><i class="fa fa-caret-up"></i></a>
            </span>
          </th> -->
          <th>
            Shop Owner
          </th>
          <!-- <th>
            <a (click)="sortBy('category.name', 'desc')">Category</a>
            <span *ngIf="sortOption.sortBy=='category.name'">
              <a (click)="sortBy('category.name', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('category.name', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th> -->
          <th>
            Category
          </th>

          <!-- <th>
            <a (click)="sortBy('createdAt', 'desc')">Created at</a>
            <span *ngIf="sortOption.sortBy=='createdAt'">
              <a (click)="sortBy('createdAt', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('createdAt', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th> -->
          <th>
            Created At
          </th>
          <th>
            View
          </th>
        </tr>
        <tr>
          <th></th>
          <th>
            <!-- <input class="form-control" [(ngModel)]="searchText" placeholder="search ..." -->
            <!-- (keypress)="keyPress($event)" /> -->
          </th>
          <th colspan="10"></th>
          <th>
            <!-- <a class="btn btn-success" (click)="query()">Search</a> -->
          </th>
        </tr>
      </thead>
      <tbody *ngIf="tickets.length">
        <tr *ngFor="let item of tickets, let i = index">
          <td>
            {{item?.code}}
          </td>
          <td>
            <a [routerLink]="['/shops/update', item.user.shopId ]" *ngIf="item.user">
              {{item?.user?.name}}
            </a>
          </td>
          <td>
            {{item?.category}}
          </td>

          <td>
            <span>{{item?.createdAt | date}}</span>
          </td>
          <td>
            <a [routerLink]="['/seller-support/view', item._id]" *ngIf="item._id">
              <i class="fa fa-eye"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8" *ngIf="total > 10">
            <ngb-pagination [collectionSize]="total" [maxSize]="5" [(page)]="page" (pageChange)="query()">
            </ngb-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>