<div class="card">
  <div class="card-block table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>
            Image
          </th>
          <th>
            <a (click)="sortBy('name', 'desc')">Name</a>
            <span *ngIf="sortOption.sortBy=='name'">
              <a (click)="sortBy('name', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('name', 'desc')" *ngIf="sortOption.sortType=='asc'"><i class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('category.name', 'desc')">Category</a>
            <span *ngIf="sortOption.sortBy=='category.name'">
              <a (click)="sortBy('category.name', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('category.name', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('brand.name', 'desc')">Shop</a>
            <span *ngIf="sortOption.sortBy=='brand.name'">
              <a (click)="sortBy('brand.name', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('brand.name', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('featured', 'desc')">Feature</a>
            <span *ngIf="sortOption.sortBy=='featured'">
              <a (click)="sortBy('featured', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('featured', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('hot', 'desc')">Hot</a>
            <span *ngIf="sortOption.sortBy=='hot'">
              <a (click)="sortBy('hot', 'asc')" *ngIf="sortOption.sortType=='desc'"><i class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('hot', 'desc')" *ngIf="sortOption.sortType=='asc'"><i class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('bestSell', 'desc')">Best Sell</a>
            <span *ngIf="sortOption.sortBy=='bestSell'">
              <a (click)="sortBy('bestSell', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('bestSell', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('tabshow', 'desc')">Tab</a>
            <span *ngIf="sortOption.sortBy=='tabshow'">
              <a (click)="sortBy('tabshow', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('tabshow', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('homeshow', 'desc')">Home</a>
            <span *ngIf="sortOption.sortBy=='homeshow'">
              <a (click)="sortBy('homeshow', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('homeshow', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('catshow', 'desc')">Category</a>
            <span *ngIf="sortOption.sortBy=='catshow'">
              <a (click)="sortBy('catshow', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('catshow', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('type', 'desc')">Type</a>
            <span *ngIf="sortOption.sortBy=='type'">
              <a (click)="sortBy('type', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('type', 'desc')" *ngIf="sortOption.sortType=='asc'"><i class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('dailyDeal', 'desc')">Daily Deal</a>
            <span *ngIf="sortOption.sortBy=='dailyDeal'">
              <a (click)="sortBy('dailyDeal', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('dailyDeal', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('isActive', 'desc')">Active</a>
            <span *ngIf="sortOption.sortBy=='isActive'">
              <a (click)="sortBy('isActive', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('isActive', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('shopVerified', 'desc')">Shop Verified</a>
            <span *ngIf="sortOption.sortBy=='shopVerified'">
              <a (click)="sortBy('shopVerified', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('shopVerified', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('createdAt', 'desc')">Created at</a>
            <span *ngIf="sortOption.sortBy=='createdAt'">
              <a (click)="sortBy('createdAt', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('createdAt', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            Actions
          </th>
        </tr>
        <tr>
          <th></th>
          <th>
            <input class="form-control" [(ngModel)]="searchText" placeholder="search ..."
              (keypress)="keyPress($event)" />
          </th>
          <th colspan="10"></th>
          <th><a class="btn btn-success" (click)="query()">Search</a></th>
        </tr>
      </thead>
      <tbody *ngIf="items.length">
        <tr *ngFor="let item of items, let i = index">
          <td>
            <img *ngIf="item.mainImage" [src]="item?.mainImage?.thumbUrl" class="image-responsive" style="width:40px" />
          </td>
          <td>
            <!-- <a [routerLink]="['/products/update', item._id ]" *ngIf="item._id">
              {{item?.name}}
            </a> -->
            <a *ngIf="item._id">
              {{item?.name}}
            </a>
          </td>
          <td><span class="label label-warning"
              *ngIf="item.category && item.category.name">{{item?.category?.name}}</span></td>
          <td>
            <a [routerLink]="['/shops/update', item.shopId ]" *ngIf="item.shopId">
              {{item?.shop?.name}}
            </a>
          </td>
          <td>
            <span class="label label-success" *ngIf="item.featured">Y</span>
            <span class="label label-warning" *ngIf="!item.featured">N</span>
          </td>
          <td>
            <span class="label label-success" *ngIf="item.hot">Y</span>
            <span class="label label-warning" *ngIf="!item.hot">N</span>
          </td>
          <td>
            <span class="label label-success" *ngIf="item.bestSell">Y</span>
            <span class="label label-warning" *ngIf="!item.bestSell">N</span>
          </td>
          <td>
            <span class="label label-success" *ngIf="item.tabshow">Y</span>
            <span class="label label-warning" *ngIf="!item.tabshow">N</span>
          </td>
          <td>
            <span class="label label-success" *ngIf="item.homeshow">Y</span>
            <span class="label label-warning" *ngIf="!item.homeshow">N</span>
          </td>
          <td>
            <span class="label label-success" *ngIf="item.catshow">Y</span>
            <span class="label label-warning" *ngIf="!item.catshow">N</span>
          </td>
          <td>
            <span class="label label-primary" *ngIf="item.type === 'physical'">Physical</span>
            <span class="label label-danger" *ngIf="item.type === 'digital'">Digital</span>
          </td>
          <td>
            <span class="label label-success" *ngIf="item.dailyDeal">Y</span>
            <span class="label label-warning" *ngIf="!item.dailyDeal">N</span>
          </td>
          <td>
            <span class="label label-success" *ngIf="item.isActive">Y</span>
            <span class="label label-warning" *ngIf="!item.isActive">N</span>
          </td>
          <td>
            <span class="label label-success" *ngIf="item.shopVerified">Y</span>
            <span class="label label-warning" *ngIf="!item.shopVerified">N</span>
          </td>
          <td>
            <span>{{item?.createdAt | date}}</span>
          </td>
          <td>
            <!-- <a [routerLink]="['/products/update', item._id]" *ngIf="item._id">
              <i class="fa fa-pencil"></i>
            </a> &nbsp; -->
            <a (click)="remove(item?._id, i)">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8" *ngIf="total > 10">
            <ngb-pagination [collectionSize]="total" [maxSize]="5" [(page)]="page" (pageChange)="query()">
            </ngb-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>